*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f9f9f9;
}
.pre-header{
    background-color: #111618;
    height: 60px;
    color: #fff;
    padding-top: 15px;
}
 .secondary-menu{
    list-style: none;
}
.secondary-menu li {
    list-style: none;
    display: inline-block;
    margin-left: 15px;
}
.secondary-menu li a{
   color:#787374;
   text-decoration: none;
   text-transform: uppercase;
}
.main-nav img{
    margin-top: 10px;
}
.main-nav .main-manu{
    list-style: none;
    margin-top: 20px;
}
.main-nav .main-manu li{
    display: inline-block;
    margin-left: 15px;
}
.main-nav .main-manu li a{
    color:#767676;
    text-decoration: none;
    text-transform: uppercase;
 }
 .main-btn{
    background-color: #4f33f1 ;
    padding: 10px;
    color: #fff !important;
    transition: .4s ease;
    text-decoration: none;
 }  
 .main-btn:hover{
    color: #4f33f1 !important;
    background: transparent;
    border: 1px solid #4f33f1;
 }
 .hero{
    background-image: url("images/header-home01-header.jpg");
    padding-top: 115px;
    padding-bottom: 115px;
    background-size: cover;
 }
 .hero h1, .hero p{
    color: #fff;
 }
 .hero h1{
    font-size: 65px;
 }
 .hero p{
    font-size: 18px;
    font-weight: bold;
 }
.hero a{
    background-color: #4f33f1 ;
    padding: 10px;
    color: #fff !important;
    transition: .4s ease;
    display: inline-block;
}
.services{
    padding-top: 100px;
    padding-bottom: 100px;
}
.services h3{
    text-align: center;
    background: #C36BD1;
    background: linear-gradient(to bottom left, #C36BD1 0%, #13A9CF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    font-size: 20px;
}
.services h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 39px;
    color: #343434;
    font-weight: bold;
}
.services p{
    text-align: center;
}
.services .service-item{
    background-color: #1b1f20;
    box-shadow:0 0 10px 0 rgba(0,0,0,.5);
    color: #fff;
    text-align: center;
    padding-bottom: 40px;
    margin-top: 50px;
    transition: .3s ease;
}
.services .service-item:hover{
    cursor: pointer;
    transform: translateY(-10px);
    box-shadow: 0px 38px 34px -17px rgba(151,65,242,0.47);
    background: rgb(0,212,255);
    background: linear-gradient(215deg, rgba(0,212,255,1) 0%, rgba(24,205,255,1) 13%, rgba(161,161,254,1) 41%, rgba(2,0,36,1) 93%);
}
.services .service-item a{
    color: #fff;
    text-decoration: none;
    display: inline-block;
    border: 2px solid #fff;
    padding: 5px;    
}
.how-it-works{
    text-align: center;
    background-image: url("images/home-01-bg-video2.jpg");
    background-size: cover;
    color: #fff;
    padding-top: 100px;
}
.how-it-works a{
    display: block;
    position: relative;
    bottom: -30px;
}
.modal-content{
    background-color: transparent !important;
    border: none !important;
}
.modal-header{
    border-bottom: 0px !important;
}
.customer-say{
    padding-top: 100px;
    padding-bottom: 100px;
}
.customer-say .testimonial{
    height: 360px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff; 
}
.inner0test{
    height: 360px;
    background: linear-gradient(to top,rgba(0,0,0,.5)60%, rgba(0,0,0,.5)20%);
    padding: 25px;
    position: relative;
}
.testimonial-content{
    position: absolute;
    bottom: 0;
    padding-left: 10px;
} 
.testimonial-content:before{
    content:"";
    width: 2px;
    height: 55px;
    background-color: #fff !important;
    display: inline-block;
    position: absolute;
    bottom: 10px;
    left: 0px;
}
.about-section{
    background-image: url("images/home2-bg-contacts.jpg");
    background-size: cover;
    background-position: center;
    color: #fff;
    padding:100px 0px;
}
.about-section h3{
    font-size: 18px;
    text-transform: uppercase;
} 
.about-section h3:before{
    content: '';
    width: 15px;
    height: 15px;
    background-color: #315df7;
    display: inline-block;
    margin-right: 10px;
}
.about-section h2{
    border-top: 1px dotted #aaa;
}
.about-section ul{
    margin-right: 28px;
}
.school-section{
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}
.school-section .school-inner{
    background-image: url("images/event-25060.jpg");
    color: #fff;
}
.school-section .school-inner .school-overlay{
    background: linear-gradient(to top,rgba(0,0,0,.5)60%, rgba(0,0,0,.5)20%);
    width: 100%;
    padding: 50px;
}
.school-section .school-inner .school-overlay .Conference-data span{
    background-color:#2a66f7 ;
    padding: 5px 10px;
}
.school-section .school-inner .school-overlay .countdown #demo{
    font-size: 42px;
    padding: 10px;
    display: inline-block;
    border: 1px solid #fff;
    background-image: repeating-linear-gradient(45deg,transparent ,transparent,#bbb, #bbb 15px);
    margin-bottom: 20px;
}
.school-section .school-inner .school-overlay .countdown .main-btn{
    margin-top: 20px;
    display: inline-block;
    padding: 10px 20px;
    clip-path: polygon(0 1%, 100% 0, 100% 79%, 88% 100%, 0 100%, 0% 50%);

}
.school-section .school-inner .school-overlay .countdown .main-btn:hover{
    background-color:#2a66f755;
    color: #fff !important;
}
.contact-section{
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url('images/home2-bg-contacts.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
}
.contact-section p, .contact-section h2{
    text-align: center;
}
.contact-section .contact-details{
    text-align: left;
}
.contact-section .contact-details p{
    text-align: left;
}
.contact-section .contact-details p a{ 
    color: #fff;
    text-decoration: none;
}
.contact-section .contact-details h4{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 1px dotted rgba(255,255,255,.5);
    padding-bottom: 10px;
}
.contact-section .contact-details h3{
    margin-bottom: 30px;
}
.contact-section .contact-details h4:before{
    content: '';
    width: 15px;
    height: 15px;
    background-color: #315df7;
    display: inline-block;
    margin-right: 10px;
}
.contact-section form{
    background-color: rgba(0, 0, 0,.5);
    border: 1px solid rgba(255,255,255,.3);
    padding: 50px;
}
.contact-section form textarea,.contact-section form input,.contact-section form button{
    width: 100%;
    outline: none;
    border: 0;
    margin-bottom: 15px;
}
.contact-section form textarea{
    height: 70px;
}
.contact-section form input{
    height: 40px;
}
.contact-section form button{
    height: 40px;
    background-color: #1a7dfa;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 24px;
}
.contact-section label{
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    color: rgba(255,255,255,.5);
}
.pricing-section{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}
.pricing-section .paragraf{
    margin-bottom: 50px;
}
.pricing-section .pricing-plan{
    background-color: #1c2021;
    color: #fff;
    padding: 25px;
    transition: .4s ease;
}
.pricing-plan:hover{
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0px 38px 34px -17px rgba(151,65,242,0.47);
    background: rgb(0,212,255);
    background: linear-gradient(215deg, rgba(0,212,255,1) 0%, rgba(24,205,255,1) 13%, rgba(161,161,254,1) 41%, rgba(2,0,36,1) 93%);
}
.pricing-section .pricing-plan ul{
    list-style: none;
    padding: 0;
}
.pricing-section .pricing-plan ul li{
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #fff;
}
.pricing-section .pricing-plan a{
    display: inline-block;
}
.pricing-section .pricing-plan .price{
    position: relative;
    border-bottom: 3px dotted #fff;
    border-top: 3px dotted #fff;
    margin-bottom: 20px;
}
.pricing-section .pricing-plan .price .main-num2{
    font-size:60px;
    font-style: italic;
}
.pricing-section .pricing-plan .price .main-num3{
    position: relative;
    top: -30px;
}
.pricing-section .pricing-plan .price .main-num4{
    position: relative;
    left: -25px;
}
.profits-section{
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: url('images/footer-bg-purple_OP.jpg');
    background-size: cover;
    color:#fff;
    text-align: center;
}
.profits-section img{
    width: 80px;
    height: 80px;
}
.profits-section a{
    background-color: transparent;
    text-transform: uppercase;
    border: 2px solid #fff;
    padding: 10px;
    width: 150px;
    color:#fff;
    text-decoration: none;
    transition: .4s ease;
    display: inline-block;
    margin-top: 30px;
}
.profits-section a:hover{
    background-color: #fff;
    color: #1a7dfa;
}
.profits-section h2{
    font-size: 60px;
    text-transform: uppercase;
    margin-top: 20px;
}
.profits-section p{
    font-size: 20px;
    text-transform: uppercase;
}
.for-bg{
    background-image:url("images/cta-decoration-margins_OPT.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px;
}
footer{
    padding-top: 100px;
    padding-bottom: 100px;
}
footer h4{
    border-bottom: 2px dotted gray;
    position: relative;
    margin-left: 20px;
    margin-bottom: 10px;
}
footer h4:before{
    content: '';
    width: 15px;
    height: 15px;
    background-color: #315df7;
    position: absolute;
    display: inline-block;
    left: -20px;
    bottom: 5px;
}
footer ul{
    list-style:none ;
    padding: 0;
    margin-left: 20px;
    margin-top: 10px;
}
footer ul li{   
    color: gray;
    text-transform: uppercase;
}
footer ul li a{
    color: gray;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 10px;
}
footer .icons a{
    margin-right: 5px;
    color: gray;
}
footer  i{
    font-size: 36px;
}
.after-footer{
    background-color: #111618;
    color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-top: 25px;
}
.after-footer ul{
    list-style: none;
}
.after-footer ul li{
    display: inline-block;
    margin-left: 15px;
}
.after-footer ul li a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}